
hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
 }
.panels {
    margin-bottom: 20px;
    height: 60px;
}

.inline {
    display: inline;
}

.percentages-panel {
    margin-top: 5px;
}

.percentages {
    font-family: 'Merriweather', serif;
    font-size: 1.7em;
}

.trend-name {
    font-family: 'Raleway', sans-serif;
}
.project-counter {
    font-size: 1.4em;
}
#content-screen {
    opacity: 0;
    padding: 20px;
    padding-top: 10px
}

.block-header {
    font-size: 1em; 
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

.result {
    font-size: 1.6em;
    font-family: 'Rasa';
}

#jobs_per_zone > svg > g .row > text, #jobs_cancelled_per_zone > svg > g .row > text {
    fill: #444444;
}

.number {
    font-family: 'Merriweather';
    display: inline;
}
.panel {
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
#main-screen {
    opacity: 0;
}
